<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="../img/favicon.ico"/>

        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <style>
            body {
                /*padding-top: 80px;*/
				background-color:#f9f9f9;
                padding-bottom: 20px;
            }
        </style>
        <!-- <link rel="stylesheet" href="assets/css/bootstrap-theme.min.css"> -->
        <link rel="stylesheet" href="../js/slider/themes/default/default.css">
        <link rel="stylesheet" href="../css/responsive.css">
        <link rel="stylesheet" href="../css/custom.css">
        <link rel="stylesheet" href="../css/dashboard.css">
		<link rel="stylesheet" href="../fonts/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" type="text/css" href="../plugins/smart-forms/css/smart-forms.css">
        <link rel="stylesheet" type="text/css" href="../css/components.css">
        <link rel="stylesheet" type="text/css" href="../plugins/select2/select2.css">
        <link rel="stylesheet" type="text/css" href="../plugins/select2/bootstrap-select2.css">

        <script src="../js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    </head>

    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <!-- Preloader --> 
    
<nav class="navbar navbar-default custom dark">
              <div class="container container-fluid"> 
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                  <div class="nomad-logo"> <a href="main.html">Mavrick</a> </div>
                </div>
        
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right">           
            <li><a href="#"><span class="highlight-menu">List Your Space</span></a></li>
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding-top:10px !important; padding-left:0px;"><span class="my-profile-small"><img src="../images/profile-pics/original.jpg"></span>Akhilsreenivasan<b class="caret"></b></a>
                        <ul class="dropdown-menu">                            
                        	<li><a href="dashboard.html">Dashboard</a></li>
                            <li><a href="dashboard-listings.html">My listings</a></li>
                            <li><a href="my-profile.html">My Profile</a></li>
<li><a href="travel-timeline.html">My Timeline</a></li>
                            <li><a href="settings.html">Settings</a></li>
                        </ul>
                    </li>
          	</ul>
            
                </div>
        <!-- /.navbar-collapse --> 
      </div>
              <!-- /.container-fluid --> 
            </nav>
    <div class="dashboard-menu">
    	<div class="container">
        	<ul>
            	<li><a href="dashboard.html">Dashboard</a></li>
                <li><a href="dashboard-listings.html">My Listings</a></li>
                <li class="active"><a href="my-biddings.html">My Biddings</a></li>
                <li><a href="inbox.html">Inbox</a></li>
                <li><a href="profile-dashboard.html">Profile</a></li>
                <li><a href="settings.html">Settings</a></li>
            </ul>	
        </div>
    </div>
    <div class="container margin-top-30">
    	<div class="profile-details">
        	<div class="row">
            	<div class="col-md-4">
                	<span class="heading">Active Bid</span>                    
                </div>
                <div class="col-md-8">
                	<span class="pull-right"><button class="btn green">View All Bids</button></span>
                </div>
                <div class="clearfix"></div>
                <div class="active-bid margin-top-30">
                	<span class="heading">Lovely Cottages in a green</span>
                    <div class="position">Bidding Position: <span class="position-top">1</span></div>
                    <div class="position" style="margin-top:35px;"><span class="bid-price">INR 1250</span></div>
                </div>
                 <div class="counter" style="float:left; margin-left:150px; margin-top:75px;">
                        	<span class="green">11</span> <span class="days">Days</span>
                            <span class="days"><span class="yellow">10</span> Hours</span>
                            <span class=""><span class="minutes">3</span> Minutes</span>
                        </div>   
                 <span class="pull-left" style="margin-top:80px; margin-left:50px;"><button class="btn">Cancel Bid</button></span>               
            </div>
            <div class="row">
            	<div class="col-md-12">
                	<div class="heading margin-top-30">Non Active Bids</div>
                </div>
                <div class="col-md-12">
               	 <table cellspacing="0" cellpadding="0" class="table table-responsive table-hover margin-top-15">
                      <tbody><tr>
                        <th scope="col">&nbsp;</th>
                        <th align="center" scope="col">Booking Details</th>
                        <th align="center" scope="col">Sight Seen</th>
                        <th align="center" scope="col">Bid Date</th>
                        <th align="center" scope="col">Bid Amount</th>
                        <th align="center" scope="col">Status</th>
                      </tr>
                      <tr>
                        <td></td>
                        <td>Delux Room Booked for Rent</td>
                        <td>June 23, 2015</td>
                        <td>June 24, 2015</td>
                        <td>$ 150</td>
                        <td><button class="btn btn-xs">not active</button></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>Delux Room Booked for Rent</td>
                        <td>June 23, 2015</td>
                        <td>June 24, 2015</td>
                        <td>$ 150</td>
                        <td><button class="btn btn-xs">not active</button></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>Delux Room Booked for Rent</td>
                        <td>June 23, 2015</td>
                        <td>June 24, 2015</td>
                        <td>$ 150</td>
                        <td><button class="btn btn-xs">not active</button></td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                      </tr>
                    </tbody></table>
                </div>    
            </div>
        </div>
    </div>
  </body> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="assets/js/vendor/jquery-1.11.0.min.js"><\/script>')</script>
    <script src="../js/vendor/bootstrap.min.js"></script>  
  	<script src="../plugins/select2/select2.js"></script>
  <script>
  
  	function readURL(input, selector) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function (e) {
                $('#'+ selector).attr('src', e.target.result);
            }
            
            reader.readAsDataURL(input.files[0]);
        }
    }
    
    $("#imgProfile").change(function(){
        readURL(this, 'uploaded-image');
    });
	$("#imgBg").change(function(){
        readURL(this, 'uploaded-bg');
    });
	 $("#tagPicker").select2({
    closeOnSelect:false
  });
	   </script>

   
    
</html>
