<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

        <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="../img/favicon.ico"/>
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <style>
body {
	/*padding-top: 80px;*/
				background-color:#f9f9f9;
	padding-bottom: 20px;
}
</style>
        <!-- <link rel="stylesheet" href="assets/css/bootstrap-theme.min.css"> -->
        <link rel="stylesheet" href="../js/slider/nivo-lightbox.css">
        <link rel="stylesheet" href="../js/slider/themes/default/default.css">
        <link rel="stylesheet" href="../css/responsive.css">
        <link rel="stylesheet" href="../css/custom.css">
        <link rel="stylesheet" href="../fonts/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" type="text/css" href="../plugins/smart-forms/css/smart-forms.css">
        <link rel="stylesheet" type="text/css" href="../plugins/bootstrap-slider/bootstrap-slider.css">
        <link rel="stylesheet" type="text/css" href="../css/components.css">
        <link rel="stylesheet" type="text/css" href="../plugins/star-rating/css/star-rating.css">
        <link rel="stylesheet" href="../plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" type="text/css" >
        <link rel="stylesheet" href="../plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" type="text/css" >
        <script src="../js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        </head>

        <body>
<!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]--> 

<!-- Preloader -->

<div class="main-bg">
          <div class="transparent-layer">
    <nav class="navbar navbar-default custom">
              <div class="container container-fluid"> 
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                  <div class="nomad-logo"> <a href="main.html">Mavrick</a></div>
                </div>
        
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right">
            <li><a data-toggle="modal" data-target="#signUp">Sign Up</a></li>
            <li class="dropdown"> <a data-toggle="modal" data-target="#loginService">Login</a> </li>	            
            <li><a href="listing-page.html" style="z-index:1000000;"><span class="highlight-menu">List Your Space</span></a></li>
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding-top:10px !important; padding-left:0px;"><span class="my-profile-small"><img src="../images/profile-pics/original.jpg"></span>Akhil Sreenivasan<b class="caret"></b></a>
                        <ul class="dropdown-menu">                            
                        	<li><a href="dashboard.html">Dashboard</a></li>
                            <li><a href="dashboard-listings.html">My listings</a></li>
                            <li><a href="my-profile.html">My Profile</a></li>
<li><a href="travel-timeline.html">My Timeline</a></li>
                            <li><a href="settings.html">Settings</a></li>
                        </ul>
                    </li>
          	</ul>
            
                </div>
        <!-- /.navbar-collapse --> 
      </div>
              <!-- /.container-fluid --> 
            </nav>
    <div class="container">
              <h2>Own the Home Meant for You</h2>
              <p class="sub-heading-main">
              <div id="typed-strings">
                <p>Your best investment opportunity won't fit into a safety deposit box, but you can live in it</p>
            </div>
            </p>
            <span id="typed" style="white-space:pre;"></span>
              
              <div class="main-filter">
        <div class="container smart-forms">
                  <div class="filter-componenet">
            <div class="col-md-4 borderclass nopadding">
                      <select class="form-control input-lg custom-select-new">
                      		<option>Bengaluru</option>
                            <option>Cochi</option>
                            <option>Chennai</option>
                      </select>
                    </div>
            <div class="checkin-box">
                      <input type="text" name="s" class="form-control" placeholder="Date" id="checkin">
                    </div>
            <div class="price-silder"> <b>€ 10</b>
                      <input id="ex2" type="text" class="span2" value="" data-slider-min="10" data-slider-max="1000" data-slider-step="5" data-slider-value="[250,450]"/>
                      <b>€ 1000</b> </div>
            <div class=""> <span class="more-filter btn-success" id="moreFilters">More <i class="fa fa-angle-down"></i></span> </div>
            <div class="clearfix"></div>
          </div>
                </div>
      </div>
            </div>
  </div>
        </div>
 
<!--<div class="container background-color radius margin-top--30 margin-bottom-30" style="position:relative;">
	<ul class="nav nav-tabs" id="myTab">
    <li class="active"><a href="#Tab1">Tab 1</a>

    </li>
    <li><a href="#Tab2">Tab 2</a>

    </li>
    <li><a href="#Tab3">Tab 3</a>

    </li>
    <li><a href="#Tab4">Tab 4</a>

    </li>
    <li><a href="#Tab5">Tab 5</a>

    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="Tab1"></div>
    <div id="Tab2" class="tab-pane"></div>
    <div class="tab-pane" id="Tab3"></div>
    <div id="tab4" class="tab-pane"></div>
    <div id="Tab5" class="tab-pane"></div>
</div>
</div>-->        
<div class="container margin-bottom-45" id="filterDiv" style="display:none">
          <div class="filter-div smart-forms margin-top-15" id="filter-div">
    <div class="row">
              <div class="col-md-3">
        <div class="hover-filter">
                  <div class="filter-head one"> Property Type </div>
                  <div class="option-group field">
            <label class="option block spacer-t10">
                      <input type="checkbox" name="mobileos" value="FR">
                      <span class="checkbox"></span> House </label>
            <label class="option block spacer-t10">
                      <input type="checkbox" name="mobileos" value="EN">
                      <span class="checkbox"></span> Apartment </label>
            <label class="option block spacer-t10">
                      <input type="checkbox" name="mobileos" value="CH">
                      <span class="checkbox"></span> Homestay </label>
            <label class="option block spacer-t10">
                      <input type="checkbox" name="mobileos" value="FR">
                      <span class="checkbox"></span> Bed & Breakfast </label>
            <label class="option block spacer-t10">
                      <input type="checkbox" name="mobileos" value="EN">
                      <span class="checkbox"></span> Resort </label>
            <label class="option block spacer-t10">
                      <input type="checkbox" name="mobileos" value="CH">
                      <span class="checkbox"></span> Villa </label>
            <label class="option block spacer-t10">
                      <input type="checkbox" name="mobileos" value="FR">
                      <span class="checkbox"></span> Shack </label>
            <label class="option block spacer-t10">
                      <input type="checkbox" name="mobileos" value="EN">
                      <span class="checkbox"></span> Dorm </label>
          </div>
                  <!-- end .option-group section --> 
                </div>
      </div>
              <!-- end .colm section -->
              <div class="col-md-2">
        <div class="filter-head"> Privacy </div>
        <div class="option-group field">
                  <label class="option block spacer-t10">
            <input type="checkbox" name="mobileos" value="FR">
            <span class="checkbox"></span> Private Room </label>
                  <label class="option block spacer-t10">
            <input type="checkbox" name="mobileos" value="EN">
            <span class="checkbox"></span> Entire Property </label>
                  <label class="option block spacer-t10">
            <input type="checkbox" name="mobileos" value="CH">
            <span class="checkbox"></span> Shared Room </label>
                </div>
        <!-- end .option-group section --> 
      </div>
              <div class="col-md-7">
        <div class="filter-head one"> Facilities </div>
        <div class="row">
                  <div class="col-md-4">
            <div class="option-group field">
                      <label class="option block spacer-t10">
                <input type="checkbox" name="mobileos" value="FR">
                <span class="checkbox"></span> Breakfast </label>
                      <label class="option block spacer-t10">
                <input type="checkbox" name="mobileos" value="EN">
                <span class="checkbox"></span> Air Conditioning </label>
                      <label class="option block spacer-t10">
                <input type="checkbox" name="mobileos" value="CH">
                <span class="checkbox"></span> Tea/Coffee Maker </label>
                      <label class="option block spacer-t10">
                <input type="checkbox" name="mobileos" value="FR">
                <span class="checkbox"></span> Swimming Pool </label>
                      <label class="option block spacer-t10">
                <input type="checkbox" name="mobileos" value="EN">
                <span class="checkbox"></span> Alcohol Allowed </label>
                      <label class="option block spacer-t10">
                <input type="checkbox" name="mobileos" value="CH">
                <span class="checkbox"></span> Room Service </label>
                      <label class="option block spacer-t10">
                <input type="checkbox" name="mobileos" value="CH">
                <span class="checkbox"></span> Free Parking </label>
                      <label class="option block spacer-t10">
                <input type="checkbox" name="mobileos" value="CH">
                <span class="checkbox"></span> Pets Allowed </label>
                    </div>
            <!-- end .option-group section --> 
          </div>
                  <div class="col-md-4">
            <div class="option-group field">
                      <label class="option block spacer-t10">
                <input type="checkbox" name="mobileos" value="FR">
                <span class="checkbox"></span> WiFi / Internet </label>
                      <label class="option block spacer-t10">
                <input type="checkbox" name="mobileos" value="EN">
                <span class="checkbox"></span> Cable TV </label>
                      <label class="option block spacer-t10">
                <input type="checkbox" name="mobileos" value="CH">
                <span class="checkbox"></span> Handicap Access </label>
                      <label class="option block spacer-t10">
                <input type="checkbox" name="mobileos" value="FR">
                <span class="checkbox"></span> Kitchen </label>
                      <label class="option block spacer-t10">
                <input type="checkbox" name="mobileos" value="EN">
                <span class="checkbox"></span>Smoking Allowed </label>
                      <label class="option block spacer-t10">
                <input type="checkbox" name="mobileos" value="CH">
                <span class="checkbox"></span> Washing Machine </label>
                      <label class="option block spacer-t10">
                <input type="checkbox" name="mobileos" value="CH">
                <span class="checkbox"></span> Doctor on call </label>
                      <label class="option block spacer-t10">
                <input type="checkbox" name="mobileos" value="CH">
                <span class="checkbox"></span> Hair Dryer </label>
                    </div>
            <!-- end .option-group section --> 
          </div>
                  <div class="col-md-4">
            <div class="option-group field">
                      <label class="option block spacer-t10">
                <input type="checkbox" name="mobileos" value="FR">
                <span class="checkbox"></span> Gym </label>
                      <label class="option block spacer-t10">
                <input type="checkbox" name="mobileos" value="EN">
                <span class="checkbox"></span> Bar </label>
                      <label class="option block spacer-t10">
                <input type="checkbox" name="mobileos" value="CH">
                <span class="checkbox"></span> Safe </label>
                      <label class="option block spacer-t10">
                <input type="checkbox" name="mobileos" value="FR">
                <span class="checkbox"></span> Restaurant </label>
                      <label class="option block spacer-t10">
                <input type="checkbox" name="mobileos" value="EN">
                <span class="checkbox"></span>Toiletries </label>
                      <label class="option block spacer-t10">
                <input type="checkbox" name="mobileos" value="CH">
                <span class="checkbox"></span> Dryer </label>
                      <label class="option block spacer-t10">
                <input type="checkbox" name="mobileos" value="CH">
                <span class="checkbox"></span> Fireplace </label>
                      <label class="option block spacer-t10">
                <input type="checkbox" name="mobileos" value="CH">
                <span class="checkbox"></span> Heating </label>
                    </div>
            <!-- end .option-group section --> 
          </div>
                </div>
      </div>
            </div>
    <div class="row">
              <div class="col-md-12 margin-top-15">
        <button class="btn btn-sm btn-success white">Apply Filters</button>
        <button class="btn btn-sm default">Clear Filters</button>
      </div>
            </div>
  </div>
        </div>
<div class="clearfix"></div>
<div class="container background-color radius margin-top--30" style="position:relative;">
          <div class="pull-left toggle-view">
    <div class="btn-group" data-toggle="buttons">
              <label class="btn grey active" data-target="list-view"> <i class="fa fa-list"></i>
        <input type="radio" class="toggle">
        List</label>
              <label class="btn grey" data-target="map-view"> <i class="fa fa-map-marker"></i>
        <input type="radio" class="toggle">
        Map </label>
            </div>
  </div>
          <div class="sort-by"> <span class="active"><a>Price <i class="fa fa-angle-up"></i></a></span> <span><a>Top Rating</a></span> </div>
          <div class="clearfix"></div>
        </div>
<div class="container elementShow background-color" id="list-view" style="margin-top:-20px;">
          <div class="grid" style="margin-top:50px;">
    <div class="grid-item">
              <div class="list-image">
        <div id="myCarousel" class="carousel slide" data-ride="carousel"> 
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
          </ol>
                  
                  <!-- Wrapper for slides -->
                  <div class="carousel-inner" role="listbox">
            <div class="item active"> <img src="../images/index-images/2.jpg"> </div>
            <div class="item"> <img src="../images/index-images/2.jpg"> </div>
            <div class="item"> <img src="../images/index-images/2.jpg"> </div>
            <div class="item"> <img src="../images/index-images/2.jpg"> </div>
          </div>
                  
                  <!-- Left and right controls --> 
                  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span class="sr-only">Next</span> </a> </div>
        <div class="rating">
                  <input class="input-2a" value="3.5" type="number" min=0 max=5 step=0.1 data-size="index" data-show-clear="false" data-show-caption="false" readonly="true" >
                </div>
        <div class="favourite-index"> <i class="icon icon-ea-heart"></i> </div>
      </div>
              <div class="padding-15">
        <div class="heading"> <a href="index.html">Lovely Cottages in a green estate</a></div>
        <p>Homestay - Private Room <br>
                  in Coorg, Karnataka, India.</p>
        
        <div class="pricing"> <span class="currency">INR</span> <span class="currency1">12500</span> </div>
        <span class="bidnow" onClick="startBid();">Bid</span>
        <div class="clearfix"></div>
      </div>
            </div>
    <div class="grid-item">
              <div class="list-image"> <img src="../images/main-.jpg" class="img-responsive" height="200">
        <div class="rating">
                  <input class="input-2a" value="3.5" type="number" min=0 max=5 step=0.1 data-size="index" data-show-clear="false" data-show-caption="false" readonly="true" >
                </div>
        <div class="favourite-index"> <i class="icon icon-ea-heart"></i> </div>
      </div>
              <div class="padding-15">
        <div class="heading"> <a href="index.html">Lovely Cottages in a green estate</a></div>
        <p>Homestay - Private Room <br>
                  in Coorg, Karnataka, India.</p>
        
        <div class="pricing"> <span class="currency">INR</span> <span class="currency1">12500</span> </div>
        <div class="clearfix"></div>
      </div>
            </div>
    <div class="grid-item">
              <div class="list-image">
        <div id="myCarousel1" class="carousel slide" data-ride="carousel"> 
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
            <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel1" data-slide-to="1"></li>
            <li data-target="#myCarousel1" data-slide-to="2"></li>
            <li data-target="#myCarousel1" data-slide-to="3"></li>
          </ol>
                  
                  <!-- Wrapper for slides -->
                  <div class="carousel-inner" role="listbox">
            <div class="item active"> <img src="../images/index-images/2.jpg"> </div>
            <div class="item"> <img src="../images/index-images/2.jpg"> </div>
            <div class="item"> <img src="../images/index-images/2.jpg"> </div>
            <div class="item"> <img src="../images/index-images/2.jpg"> </div>
          </div>
                  
                  <!-- Left and right controls --> 
                  <a class="left carousel-control" href="#myCarousel1" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a class="right carousel-control" href="#myCarousel1" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span class="sr-only">Next</span> </a> </div>
        <div class="rating">
                  <input class="input-2a" value="3.5" type="number" min=0 max=5 step=0.1 data-size="index" data-show-clear="false" data-show-caption="false" readonly="true" >
                </div>
        <div class="favourite-index"> <i class="icon icon-ea-heart"></i> </div>
      </div>
              <div class="padding-15">
        <div class="heading"> <a href="index.html">Lovely Cottages in a green estate</a></div>
        <p>Homestay - Private Room <br>
                  in Coorg, Karnataka, India.</p>
        
        <div class="pricing"> <span class="currency">INR</span> <span class="currency1">12500</span> </div>
        <div class="clearfix"></div>
      </div>
            </div>
    <div class="grid-item">
              <div class="list-image"> <img src="../images/main-.jpg" class="img-responsive" height="200">
        <div class="rating">
                  <input class="input-2a" value="3.5" type="number" min=0 max=5 step=0.1 data-size="index" data-show-clear="false" data-show-caption="false" readonly="true" >
                </div>
        <div class="favourite-index"> <i class="icon icon-ea-heart"></i> </div>
      </div>
              <div class="padding-15">
        <div class="heading"> <a href="index.html">Lovely Cottages in a green estate</a></div>
        <p>Homestay - Private Room <br>
                  in Coorg, Karnataka, India.</p>
        
        <div class="pricing"> <span class="currency">INR</span> <span class="currency1">12500</span> </div>
        <div class="clearfix"></div>
      </div>
            </div>
    <div class="grid-item">
              <div class="list-image"> <img src="../images/main-.jpg" class="img-responsive" height="200">
        <div class="rating">
                  <input class="input-2a" value="3.5" type="number" min=0 max=5 step=0.1 data-size="index" data-show-clear="false" data-show-caption="false" readonly="true" >
                </div>
        <div class="favourite-index"> <i class="icon icon-ea-heart"></i> </div>
      </div>
              <div class="padding-15">
        <div class="heading"> <a href="index.html">Lovely Cottages in a green estate</a></div>
        <p>Homestay - Private Room <br>
                  in Coorg, Karnataka, India.</p>
        
        <div class="pricing"> <span class="currency">INR</span> <span class="currency1">12500</span> </div>
        <div class="clearfix"></div>
      </div>
            </div>
    <div class="grid-item">
              <div class="list-image"> <img src="../images/main-.jpg" class="img-responsive" height="200">
        <div class="rating">
                  <input class="input-2a" value="3.5" type="number" min=0 max=5 step=0.1 data-size="index" data-show-clear="false" data-show-caption="false" readonly="true" >
                </div>
        <div class="favourite-index"> <i class="icon icon-ea-heart"></i> </div>
      </div>
              <div class="padding-15">
        <div class="heading"> <a href="index.html">Lovely Cottages in a green estate</a></div>
        <p>Homestay - Private Room <br>
                  in Coorg, Karnataka, India.</p>
        
        <div class="pricing"> <span class="currency">INR</span> <span class="currency1">12500</span> </div>
        <div class="clearfix"></div>
      </div>
            </div>
    <div class="grid-item">
              <div class="list-image"> <img src="../images/main-.jpg" class="img-responsive" height="200">
        <div class="rating">
                  <input class="input-2a" value="3.5" type="number" min=0 max=5 step=0.1 data-size="index" data-show-clear="false" data-show-caption="false" readonly="true" >
                </div>
        <div class="favourite-index"> <i class="icon icon-ea-heart"></i> </div>
      </div>
              <div class="padding-15">
        <div class="heading"> <a href="index.html">Lovely Cottages in a green estate</a></div>
        <p>Homestay - Private Room <br>
                  in Coorg, Karnataka, India.</p>
        
        <div class="pricing"> <span class="currency">INR</span> <span class="currency1">12500</span> </div>
        <div class="clearfix"></div>
      </div>
            </div>
    <div class="grid-item">
              <div class="list-image"> <img src="../images/main-.jpg" class="img-responsive" height="200">
        <div class="rating">
                  <input class="input-2a" value="3.5" type="number" min=0 max=5 step=0.1 data-size="index" data-show-clear="false" data-show-caption="false" readonly="true" >
                </div>
        <div class="favourite-index"> <i class="icon icon-ea-heart"></i> </div>
      </div>
              <div class="padding-15">
        <div class="heading"> <a href="index.html">Lovely Cottages in a green estate</a></div>
        <p>Homestay - Private Room <br>
                  in Coorg, Karnataka, India.</p>
        
        <div class="pricing"> <span class="currency">INR</span> <span class="currency1">12500</span> </div>
        <div class="clearfix"></div>
      </div>
            </div>
    <div class="grid-item">
              <div class="list-image"> <img src="../images/index-images/2.jpg" class="img-responsive" height="200">
        <div class="rating">
                  <input class="input-2a" value="3.5" type="number" min=0 max=5 step=0.1 data-size="index" data-show-clear="false" data-show-caption="false" readonly="true" >
                </div>
        <div class="favourite-index"> <i class="icon icon-ea-heart"></i> </div>
      </div>
              <div class="padding-15">
        <div class="heading"> <a href="index.html"><a href="index.html">Lovely Cottages in a green estate</a></a></div>
        <p>Homestay - Private Room <br>
                  in Coorg, Karnataka, India.</p>
        
        <div class="pricing"> <span class="currency">INR</span> <span class="currency1">12500</span> </div>
        <div class="clearfix"></div>
      </div>
            </div>
    <div class="grid-item">
              <div class="list-image"> <img src="../images/main-.jpg" class="img-responsive" height="200">
        <div class="rating">
                  <input class="input-2a" value="3.5" type="number" min=0 max=5 step=0.1 data-size="index" data-show-clear="false" data-show-caption="false" readonly="true" >
                </div>
        <div class="favourite-index"> <i class="icon icon-ea-heart"></i> </div>
      </div>
              <div class="padding-15">
        <div class="heading"> <a href="index.html">Lovely Cottages in a green estate</a></div>
        <p>Homestay - Private Room <br>
                  in Coorg, Karnataka, India.</p>
        
        <div class="pricing"> <span class="currency">INR</span> <span class="currency1">12500</span> </div>
        <div class="clearfix"></div>
      </div>
            </div>
    <div class="grid-item">
              <div class="list-image"> <img src="../images/main-.jpg" class="img-responsive" height="200">
        <div class="rating">
                  <input class="input-2a" value="3.5" type="number" min=0 max=5 step=0.1 data-size="index" data-show-clear="false" data-show-caption="false" readonly="true" >
                </div>
        <div class="favourite-index"> <i class="icon icon-ea-heart"></i> </div>
      </div>
              <div class="padding-15">
        <div class="heading"> <a href="index.html">Lovely Cottages in a green estate</a></div>
        <p>Homestay - Private Room <br>
                  in Coorg, Karnataka, India.</p>
        
        <div class="pricing"> <span class="currency">INR</span> <span class="currency1">12500</span> </div>
        <div class="clearfix"></div>
      </div>
            </div>
    <div class="grid-item">
              <div class="list-image"> <img src="../images/index-images/2.jpg" class="img-responsive" height="200">
        <div class="rating">
                  <input class="input-2a" value="3.5" type="number" min=0 max=5 step=0.1 data-size="index" data-show-clear="false" data-show-caption="false" readonly="true" >
                </div>
        <div class="favourite-index"> <i class="icon icon-ea-heart"></i> </div>
      </div>
              <div class="padding-15">
        <div class="heading"> <a href="index.html">Lovely Cottages in a green estate</a></div>
        <p>Homestay - Private Room <br>
                  in Coorg, Karnataka, India.</p>
        
        <div class="pricing"> <span class="currency">INR</span> <span class="currency1">12500</span> </div>
        <div class="clearfix"></div>
      </div>
            </div>
  </div>
          <div class="load-more">
    <button type="button" data-loading-text="Loading..." class="btn btn-success loading"> Load More </button>
  </div>
        </div>
<div class="container elementShow background-color" id="map-view" style="display:none; padding-top:30px;">
          <div class="row">
    <div class="col-md-4">
              <div class="rooms-map-view">
        <div class="image"> <img src="../images/main-.jpg" class="img-responsive"> </div>
        <div class="rooms-map-details"> <span class="heading"><a href="index.html">Lovely Cottages in a green estate</a></span>
                  <input class="input-2a" value="3.5" type="number" min=0 max=5 step=0.1 data-size="index" data-show-clear="false" data-show-caption="false" readonly="true" >
                  <div class="price">INR 12500</div>
                </div>
        <div class="clearfix"></div>
      </div>
              <div class="rooms-map-view">
        <div class="image"> <img src="../images/main-.jpg" class="img-responsive"> </div>
        <div class="rooms-map-details"> <span class="heading"><a href="index.html">Lovely Cottages in a green estate</a></span>
                  <input class="input-2a" value="3.5" type="number" min=0 max=5 step=0.1 data-size="index" data-show-clear="false" data-show-caption="false" readonly="true" >
                  <div class="price">INR 12500</div>
                </div>
        <div class="clearfix"></div>
      </div>
              <div class="rooms-map-view">
        <div class="image"> <img src="../images/main-.jpg" class="img-responsive"> </div>
        <div class="rooms-map-details"> <span class="heading"><a href="index.html">Lovely Cottages in a green estate</a></span>
                  <input class="input-2a" value="3.5" type="number" min=0 max=5 step=0.1 data-size="index" data-show-clear="false" data-show-caption="false" readonly="true" >
                  <div class="price">INR 12500</div>
                </div>
        <div class="clearfix"></div>
      </div>
              <div class="rooms-map-view">
        <div class="image"> <img src="../images/main-.jpg" class="img-responsive"> </div>
        <div class="rooms-map-details"> <span class="heading"><a href="index.html">Lovely Cottages in a green estate</a></span>
                  <input class="input-2a" value="3.5" type="number" min=0 max=5 step=0.1 data-size="index" data-show-clear="false" data-show-caption="false" readonly="true" >
                  <div class="price">INR 12500</div>
                </div>
        <div class="clearfix"></div>
      </div>
              <div class="rooms-map-view">
        <div class="image"> <img src="../images/main-.jpg" class="img-responsive"> </div>
        <div class="rooms-map-details"> <span class="heading"><a href="index.html">Lovely Cottages in a green estate</a></span>
                  <input class="input-2a" value="3.5" type="number" min=0 max=5 step=0.1 data-size="index" data-show-clear="false" data-show-caption="false" readonly="true" >
                  <div class="price">INR 12500</div>
                </div>
        <div class="clearfix"></div>
      </div>
              <div class="rooms-map-view">
        <div class="image"> <img src="../images/main-.jpg" class="img-responsive"> </div>
        <div class="rooms-map-details"> <span class="heading"><a href="index.html">Lovely Cottages in a green estate</a></span>
                  <input class="input-2a" value="3.5" type="number" min=0 max=5 step=0.1 data-size="index" data-show-clear="false" data-show-caption="false" readonly="true" >
                  <div class="price">INR 12500</div>
                </div>
        <div class="clearfix"></div>
      </div>
              <div class="rooms-map-view last-child">
        <div class="image"> <img src="../images/main-.jpg" class="img-responsive"> </div>
        <div class="rooms-map-details"> <span class="heading"><a href="index.html">Lovely Cottages in a green estate</a></span>
                  <input class="input-2a" value="3.5" type="number" min=0 max=5 step=0.1 data-size="index" data-show-clear="false" data-show-caption="false" readonly="true" >
                  <div class="price">INR 12500</div>
                </div>
        <div class="clearfix"></div>
      </div>
              <div class="paginations">
        <ul>
                  <li><a href="#">«</a></li>
                  <li><a href="#">10</a></li>
                  <li class="active"><a href="#">11</a></li>
                  <li><a href="#">12</a></li>
                  <li><a href="#">»</a></li>
                </ul>
      </div>
            </div>
    <div class="col-md-8">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7777.524584163833!2d77.6184085!3d12.922993850000008!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1458e6baac69%3A0x1d02c77cc85211ed!2sMadiwala%2C+Stage+1%2C+BTM+Layout%2C+Bengaluru%2C+Karnataka!5e0!3m2!1sen!2sin!4v1436378494934" width="100%" height="550px;" frameborder="0" style="border:0;" allowfullscreen></iframe>
            </div>
  </div>
        </div>
<div class="background-bg-new margin-top-30 margin-bottom-30">        
	<div class="container">
          <div class="row mini-widget">
    <div class="heading">NEWS AND STORIES</div>
    <div id="myCarouselWidget" class="carousel slide" data-ride="carousel"> 
              <!-- Indicators -->
              <ol class="carousel-indicators">
        <li data-target="#myCarouselWidget" data-slide-to="0" class="active"></li>
        <li data-target="#myCarouselWidget" data-slide-to="1"></li>
        <li data-target="#myCarouselWidget" data-slide-to="2"></li>
        <li data-target="#myCarouselWidget" data-slide-to="3"></li>
      </ol>
              
              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
        <div class="item active">
                  <div class="col-md-12">
            <div class="col-md-6">
                      <div class="mini-content">
                <h4>Lorem Ipsum is simply dummy text</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took</p>
                <div class="img-responsive"> <img src="../images/news-widget/GigEconomyStartup-438x145.jpg" class="img-responsive"> </div>
              </div>
                    </div>
            <div class="col-md-6">
                      <div class="mini-content">
                <h4>Lorem Ipsum is simply dummy text</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took</p>
                <div class="img-responsive"> <img src="../images/news-widget/peco_header-438x145.jpg" class="img-responsive"> </div>
              </div>
                    </div>
          </div>
                </div>
        <div class="item">
                  <div class="col-md-12">
            <div class="col-md-6">
                      <div class="mini-content">
                <h4>Lorem Ipsum is simply dummy text</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took</p>
                <div class="img-responsive"> <img src="../images/news-widget/GigEconomyStartup-438x145.jpg" class="img-responsive"> </div>
              </div>
                    </div>
            <div class="col-md-6">
                      <div class="mini-content">
                <h4>Lorem Ipsum is simply dummy text</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took</p>
                <div class="img-responsive"> <img src="../images/news-widget/peco_header-438x145.jpg" class="img-responsive"> </div>
              </div>
                    </div>
          </div>
                </div>
        <div class="item">
                  <div class="col-md-12">
            <div class="col-md-6">
                      <div class="mini-content">
                <h4>Lorem Ipsum is simply dummy text</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took</p>
                <div class="img-responsive"> <img src="../images/news-widget/GigEconomyStartup-438x145.jpg" class="img-responsive"> </div>
              </div>
                    </div>
            <div class="col-md-6">
                      <div class="mini-content">
                <h4>Lorem Ipsum is simply dummy text</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took</p>
                <div class="img-responsive"> <img src="../images/news-widget/peco_header-438x145.jpg" class="img-responsive"> </div>
              </div>
                    </div>
          </div>
                </div>
      </div>
              
              <!-- Left and right controls --> 
              <a class="left carousel-control" href="#myCarouselWidget" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a class="right carousel-control" href="#myCarouselWidget" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span class="sr-only">Next</span> </a> </div>
  </div>
        </div>
</div>  
<div class="bid-list" style="display:none;">
	<span class="heading">Bid List </span>
<ul>
    	<li>
        	<span class="close tooltip-info" data-toggle="tooltip" data-placement="right" title="" data-original-title="Text will come here"><i class="fa fa-close"></i></span>
        	<span class="room-name"><strong><a href="index.html">Lovely Cottages in a green estate</a></strong></span>
            <span class="pricing">Basic Price: INR <strong>12500</strong></span>
            <span class="your-bid">Your Bid: INR <strong>13500</strong></span>
            <div class="clearfix"></div>
          	<span class="highest-bid">Highest Bid: INR <strong>14500</strong></span>
            <span class="position-right">current position: <span class="position">3</span></span>
            <div class="clearfix"></div>
            <span style="display:block; margin-bottom:5px;" class="text-center">
            	<button class="btn green btn-sm" style="margin-top:5px; margin-bottom:5px; width:50%; margin:auto;">Bid</button>
            </span>            
            <div class="clearfix"></div>
        </li>
       
    </ul>
</div>      
<div class="container">
          <div class="row basic-info">
    <div class="col-md-4">
              <div class="text-center"> <img src="../images/basic info/first.png"> </div>
              <div class="heading"> TRUST & SAFTEY </div>
              <div class="content">
        <p>People who love what they do help you get everything done at an unbeatable value.</p>
      </div>
            </div>
    <div class="col-md-4">
              <div class="text-center"> <img src="../images/basic info/first.png"> </div>
              <div class="heading"> TRUST & SAFTEY </div>
              <div class="content">
        <p>People who love what they do help you get everything done at an unbeatable value.</p>
      </div>
            </div>
    <div class="col-md-4">
              <div class="text-center"> <img src="../images/basic info/first.png"> </div>
              <div class="heading"> TRUST & SAFTEY </div>
              <div class="content">
        <p>People who love what they do help you get everything done at an unbeatable value.</p>
      </div>
            </div>
  </div>
        </div>
        
<footer>
	<div class="container">
		Copyright © 2015 Mavrick, all rights reserved.
    </div>    
</footer>        
<div id="loginService" class="modal fade" role="dialog">
          <div class="modal-dialog" style="width:400px;"> 
    
    <!-- Modal content-->
    <div class="modal-content custom">
              <div class="modal-body smart-forms clearfix nopadding custom">
        <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title custom">LOGIN</h4>
                </div>
        <div class="form-body theme-blue">
                  <div class="section">
            <label for="emaillogin" class="field prepend-icon">
            <input type="text" name="" id="emaillogin" class="gui-input" placeholder="Enter email">
            <label for="emaillogin" class="field-icon"><i class="fa fa-user"></i></label>
            </label>
            <br>
          </div>
                  <!-- end section -->
                  
                  <div class="">
            <label for="password" class="field prepend-icon">
            <input type="password" name="password" id="password" class="gui-input" placeholder="Enter password">
            <label for="password" class="field-icon"><i class="fa fa-lock"></i></label>
            </label>
          </div>
                  <!-- end section -->
                  <div class="section colm colm4 margin-top-10">
            <div class="option-group field">
                      <label class="option block">
                <input type="checkbox" name="mobileos" value="FR">
                <span class="checkbox"></span> Remember Me </label>
                    </div>
            <!-- end .option-group section --> 
            
          </div>
                  <div class="section">
            <button class="btn btn-success white full-width">Login</button>
          </div>
                  <div class="spacer-b15">
            <div class="tagline" style="text-align:center"><span> or </span></div>
            <!-- .tagline --> 
          </div>
                  <div class="">
            <div class="col-md-offset-1"><a href="#" class="button btn-social googleplus span-left"> <span><i class="fa fa-google-plus"></i></span> Google+ </a> <a href="" class="button btn-social facebook span-left"> <span><i class="fa fa-facebook"></i></span> Facebook </a> </div>
          </div>
                  <!-- end section --> 
                </div>
        <div class="form-footer">
                  <div class="pull-left"> <a href="http://www.easyaccom.com/forgotpassword.php">Forgot Password</a> </div>
                  <div class="pull-right"> <a href="javascript:void(0)" class="smart-link" onclick="switchScreen('signup')">New user? SIGN UP</a> </div>
                </div>
      </div>
            </div>
  </div>
        </div>
<div id="signUp" class="modal fade" role="dialog">
          <div class="modal-dialog" style="width:400px;"> 
    
    <!-- Modal content-->
    <div class="modal-content custom">
              <div class="modal-body smart-forms clearfix nopadding custom">
        <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title custom">JOIN MAVRIC</h4>
                </div>
        <div class="form-body theme-blue">
                  <div class="section">
            <label for="emaillogin" class="field prepend-icon">
            <input type="text" name="" id="" class="gui-input" placeholder="First Name">
            <label for="first name" class="field-icon"><i class="fa fa-user"></i></label>
          </div>
                  <!-- end section -->
                  <div class="section">
            <label for="emaillogin" class="field prepend-icon">
            <input type="text" name="" id="" class="gui-input" placeholder="Last Name">
            <label for="last name" class="field-icon"><i class="fa fa-user"></i></label>
          </div>
                  <!-- end section -->
                  <div class="section">
            <label for="emaillogin" class="field prepend-icon">
            <input type="text" name="" id="" class="gui-input" placeholder="Email">
            <label for="email" class="field-icon"><i class="fa fa-envelope"></i></label>
          </div>
                  <!-- end section -->
                  
                  <div class="section">
            <label for="password" class="field prepend-icon">
            <input type="password" name="password" id="password" class="gui-input" placeholder="Enter password">
            <label for="password" class="field-icon"><i class="fa fa-lock"></i></label>
          </div>
                  <!-- end section -->
                  <div class="section">
            <button class="btn btn-success white full-width">Sign Up</button>
          </div>
                  <div class="spacer-b15">
            <div class="tagline" style="text-align:center"><span> or </span></div>
            <!-- .tagline --> 
          </div>
                  <div class="">
            <div class="col-md-offset-1"><a href="#" class="button btn-social googleplus span-left"> <span><i class="fa fa-google-plus"></i></span> Google+ </a> <a href="" class="button btn-social facebook span-left"> <span><i class="fa fa-facebook"></i></span> Facebook </a> </div>
          </div>
                  <!-- end section --> 
                </div>
        <div class="form-footer">
                  <div class="text-center"> Already a member? <a href="http://www.easyaccom.com/forgotpassword.php"> Sign in</a> </div>
                </div>
      </div>
            </div>
  </div>
        </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
<script>window.jQuery || document.write('<script src="assets/js/vendor/jquery-1.11.0.min.js"><\/script>')</script> 
<script src="../plugins/bootstrap-slider/bootstrap-slider.js"></script> 
<script src="../js/vendor/bootstrap.min.js"></script> 
<script src="../plugins/masonary/jquery.isotope.min.js.js"></script> 
<script src="http://cdnjs.cloudflare.com/ajax/libs/masonry/3.1.5/masonry.pkgd.min.js"></script> 
<script src="../plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script> 
<script src="../plugins/star-rating/js/star-rating.js"></script> 
<script src="http://www.mondovo.com/app/templates/metronic/frontend_new/assets/frontend/layout/scripts/typed.js" type="text/javascript"></script>
<script src="../js/pages/main.js"></script> 
<script>
  $("#typed").typed({
            // strings: ["Typed.js is a <strong>jQuery</strong> plugin.", "It <em>types</em> out sentences.", "And then deletes them.", "Try it out!"],
            stringsElement: $('#typed-strings'),
            typeSpeed: 30,
            backDelay: 500,
            loop: false,
            contentType: 'html', // or text
            // defaults to false for infinite loop
            loopCount: false
        });

		$(document).ready(function () {
			$('#checkin').datepicker({
				autoclose: true,
				startDate: '+0d', // there's no convenient "right now" notation yet
				format: "dd/mm/yyyy",
				});	
			$('#checkout').datepicker({
				autoclose: true,
				startDate: '+0d', // there's no convenient "right now" notation yet
				format: "dd/mm/yyyy",
				});
	
	 $('#checkin').datepicker()
	  .on('changeDate', function(ev) {
		$(this).datepicker('hide');  
		$('#checkout').datepicker('show');
	  });
		$("button.loading").click(function() {
			var $btn = $(this);
			$btn.button('loading');
			// Then whatever you actually want to do i.e. submit form
			// After that has finished, reset the button state using
			setTimeout(function () {
				$btn.button('reset');
			}, 1000);
		});	
			
		$( "#moreFilters" ).click(function() {
		  $( "#filterDiv" ).slideToggle( "slow" );
		});
		$("#ex2").slider({});
		 $('.grid').masonry({
			itemSelector: '.grid-item',
			columnWidth: 242,
			gutter: 15
		  });
		   $(".input-2a").rating({
            starCaptions: function(val) {
                if (val < 3) {
                    return val;
                } else {
                    return 'high';
                }
            },
            starCaptionClasses: function(val) {
                if (val < 3) {
                    return 'label label-danger';
                } else {
                    return 'label label-success';
                }
            },
            hoverOnClear: false
        });	
		});	
		$('.btn-group label').click(function(){
			var target = "#" + $(this).data("target");
				$(".elementShow").not(target).slideUp();
				$(target).slideDown();
    		});
		
		$(document).ready(function() {      
		   $('#myCarouselWidget').carousel({
				pause: true,
				interval: false
			});
		});
		var tabChange = function () {
			var tabs = $('.nav-tabs > li');
			var active = tabs.filter('.active');
			var next = active.next('li').length ? active.next('li').find('a') : tabs.filter(':first-child').find('a');
			// Use the Bootsrap tab show method
			next.tab('show');
		};
		// Tab Cycle function
		var tabCycle = setInterval(tabChange, 5000);
		
		// Tab click event handler
		/*$('a').on('click', function (e) {
			e.preventDefault();
			// Stop the cycle
			clearInterval(tabCycle);
			// Show the clicked tabs associated tab-pane
			$(this).tab('show');
			// Start the cycle again in a predefined amount of time
			setTimeout(function () {
				//tabCycle = setInterval(tabChange, 5000);
			}, 15000);
		});*/
function startBid(){
	console.log($(this).parent());
	$(this).remove();
	$(".bid-list").show();
	}

	</script>
</body>
</html>